streamlit
llama-index
llama-index-embeddings-huggingface
llama-index-llms-google-genai
llama-index-readers-file
pypdf
chromadb==0.4.24
llama-index-vector-stores-chroma
gspread
google-auth
protobuf==3.20.3
