streamlit==1.45.1
llama-index==0.12.51
llama-index-embeddings-huggingface==0.5.4
llama-index-llms-google-genai==0.6.6
llama-index-readers-file==0.4.9
pypdf==5.4.0
chromadb==0.4.24
llama-index-vector-stores-chroma==0.4.1
gspread==6.1.4
google-auth==2.40.3
protobuf==3.20.3
